<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TO-DO LIST</title>
  </head>

  <body>

    <H1>To-Do List</H1>
    <ul>
      <li> <a href="{{ url_for('delete',task_id=loop.index0) }}">[DELETE]<</a> </li>
      <li> No tasks yet! </li>
    </ul>

    <h2>Add a new task</h2>
    <form method="post" action="{{ url_for('add') }}">
      <input type="text" name="task"  placeholder="Enter task" required </input>
      <button type="submit">Add Task</button>
    </form>

  </body>
  
</html>
